{% extends './base.html' %}
{% load static %}
{% block title %} Home {%endblock%}

{% block content%}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
</section>

<div class="album py-2 bg-light">
  <div class="container">
    <div class="row">
      
      {% for product in products %}
        <div class="col-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <img class='img-fluid' alt="Responsive image" src="{{ product.image.url }}">
              <h4>{{ product.title }}</h4>
              <p class="card-text">{{ product.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{{ product.get_absolute_url }}'">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">created at: {{ product.created_at | date:"d/m/y" }}</small>
              </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
          </div><div class="row">
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


{% endblock%}